.scoreBox{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:1%;
    margin-bottom: 1%;
}

.scoreName{
    width: 30%;
    height: 30%;
    margin-left: 35%;
    display: flex;
    justify-content: space-around;
}
