.mainHeader{
    width: 100vw;
    height: 10vh;
    background-color: bisque;
    
}

.selectList{
    position: relative;
    width: 40%;
    height: 100%;
    left: 80%;
    display: flex;
}

select {
    width: 20%;
    height: 4vh; 
    padding: .8em .5em; 
    border: 1px solid #999;
    font-family: inherit;  
    /* background: url('arrow.jpg') no-repeat 95% 50%;  */
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    }