.mainHeader{
    width: 100vw;
    height: 10vh;
    background-color: bisque;
    text-align: center;
    font-size: 7vh;
    font-weight: bolder;
}

.changeBtn{
    position: relative;
    top:-80%;
    left: 75%;
    width: 15vw;
    height: 8vh;
    font-size: 2vh;
    background-color: azure;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    line-height: 100%;
}