.logoBox{
    width: 10vw;
    height: 10vh;
    background-color: pink;
    border-radius: 10px;
    font-size: 4vmin;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
