.logoBox{
    width: 10vw;
    height: 10vh;
    background-color: pink;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo{
    
    width: 80%;
    height: 60%;
    /* background-color: aqua; */

    font-size: 4vmin;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}